/* Хөл хэсгийн загвар */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;
  }
  
  /* Хөл хэсгийн шугамын сав */
  footer .header-line-container {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Хөл хэсгийн шугам */
  .header-line {
    width: 100%;
    max-width: 1200px;
    border: none;
    height: 1px;
    background-color: var(--text-color);
    margin: -0.25rem auto 1rem;
    opacity: 0.3;
    transition: background-color 0.7s ease;
  }
  
  /* Хөл хэсгийн агуулгын сав */
  .width-90 {
    width: 90% !important;
    max-width: 1200px !important;
  }
  
  /* Хөл хэсгийн мэдээлэл агуулсан сав */
  .max-w-6xl {
    max-width: 72rem;
  }
  
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  /* Линк болон зургийн загвар */
  .space-x-6 > * + * {
    margin-left: 1.5rem;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .hover\:opacity-70:hover {
    opacity: 0.7;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .relative {
    position: relative;
  }
  
  /* Зохиогчийн эрхийн мэдээлэл */
  .text-center {
    text-align: center;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .copyright-text {
    color: var(--text-color) !important;
    transition: color 0.7s ease !important;
  }
  
  /* Зургийн шилжилтийн загвар */
  img {
    transition: opacity 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
  }